<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Produk</title>
</head>
<body>
    <center>
        <h1>Add Produk</h1>
        <form action="addItem" method="POST">
            <input name="name" placeholder="nama produk" required/>
            <input name="desc" placeholder="deskripsi produk" required/>
            <input name="stok" placeholder="stok produk" required/>
            <input name="harga" placeholder="harga produk" required/>
            <input name="type" placeholder="kode kategori produk" required/>
            <button class="btn btn-primary">Add</button>
        </form>
    </center>
</body>
</html>